<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Request calendar access to read, add, and modify events</string>
	<key>UIAppFonts</key>
	<array>
		<string>GohuFont11NerdFontMono-Regular.ttf</string>
		<string>NotoSerif-Black.ttf</string>
		<string>NotoSerif-BlackItalic.ttf</string>
		<string>NotoSerif-ExtraBold.ttf</string>
		<string>NotoSerif-ExtraBoldItalic.ttf</string>
		<string>NotoSerif-SemiBold.ttf</string>
		<string>NotoSerif-SemiBoldItalic.ttf</string>
		<string>NotoSerif-Regular.ttf</string>
		<string>NotoSerif-Italic.ttf</string>
		<string>NotoSerif-Medium.ttf</string>
		<string>NotoSerif-MediumItalic.ttf</string>
		<string>NotoSerif-Thin.ttf</string>
		<string>NotoSerif-ThinItalic.ttf</string>
		<string>NotoSerif-Light.ttf</string>
		<string>NotoSerif-LightItalic.ttf</string>
		<string>NotoSerif-ExtraLight.ttf</string>
		<string>NotoSerif-ExtraLightItalic.ttf</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Wisp_r Item</string>
			<key>UTTypeIdentifier</key>
			<string>punk.systems.item</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wispr_item</string>
					<string>wispr_item</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>punk.systems.item</string>
		</dict>
	</array>
</dict>
</plist>
